.header {
    padding: 20px;
    background: #FFF;
    width: 100%;
    line-height: 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .header__region {
            display: inline;
        }

        .header__logo img {
            height: 68px;
        }

        #block-system-main-menu {
            float: right;
            margin: 10px 0 0;
            padding: 0;

            .menu {
                padding: 0;
                margin: 0;
            }

            li {
                list-style: none;
                display: inline-block;
                padding: 5px 15px;
                float: left;
                line-height: 1.5;
                margin: 0;

                a {
                    display: block;
                    width: 100%;
                    padding: 5px 0;
                    font-family: $Lato;
                    text-decoration: none;
                    position: relative;
                }

                a:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    border: 0;
                    height: 2px;
                    width: 0;
                    transition: width 0.2s ease-out;
                    background-color: #E24242;
                }

                a:hover:before {
                    width: 100%;
                }
            }
        }
    }
}


.not-front header {
  background: black;

  .container #block-system-main-menu li a {
    color: #FFF;
  }
}
